<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="navbar">
    <ul>
        <li><a href="/developers/dashboardDeveloper">Home</a></li>
        <li><a href="/developers/projects">Projects</a></li>
        <li><a href="/developers/skills">Skills</a></li>
        <li><a href="/developers/profile">Profile</a></li>
    </ul>
</div>

<div class="content">
    <h2>Assigned Projects</h2>
    <ul>
        <li th:each="project : ${assignedProjects}" th:text="${project.name}"></li>
    </ul>
</div>
</body>
</html>
